@import "@fortawesome/fontawesome-svg-core/styles.css";
@import "uu-bootstrap/scss/bootstrap";

body {
    padding-top: 1rem; /* Add some padding to the top */
}
.container {
    max-width: 960px;
}

.code-example {
    white-space: pre-wrap;
    word-break: break-word;
    padding: 0.5rem;
    border-radius: var(--bs-border-radius);
    background-color: rgba(var(--bs-light-rgb), 1);

    code {
        background-color: inherit;
    }
}
